.NavItem {
  display: inline-block;
  width: 200px;
  height: 30px;
  color: burlywood;
  border: 1px solid burlywood;
  text-decoration: none;
  padding: 20px 0;
}

.NavItem:hover {
  color: white;
  background-color: #1affa3;
  border: 1px solid #1affa3;
}
