.NavBar {
  height: 70px;
  position: sticky;
  list-style-type: none;
  background-color: #3366ff;
  box-shadow: 0 2px 3px #002699;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
